[2014-10-25 13:32] nt1m opened #1 "Get rid of awful JS hacks"
var _ = this for example. Should convert that to bind(this);

[2014-10-25 15:22] nt1m opened #3 "Add proper l10n strings"
Right now, the l10n has some placeholder strings, and is unused. It needs updating.

[2014-10-25 15:25] nt1m opened #4 "Make this work on remote targets"
Currently e10s, Chrome, Safari, iOS targets are not supported. This is because of the use a Blob.

[2014-10-25 16:00] nt1m opened #5 "Clean up CSS"

[2014-10-25 16:43] #3 closed, assigned to nobody

[2014-10-25 16:44] nt1m opened #6 "Figure out why the run and export button tooltips don't show up"

[2014-10-26 14:01] #5 closed, assigned to nobody

[2014-10-26 14:02] nt1m opened #7 "Autocomplete support"
For css, copy over style editor code.
For JS, copy over scratchpad code.

[2014-10-26 17:04] nt1m opened #8 "Sync support"
Note to self : services.sync.prefs.sync.extensions.devtools-prototyper.*

[2014-10-26 17:17] #8 closed, assigned to nobody

[2014-10-26 17:44] jsantell opened #9 "Trouble installing"
Worked on a profile where I didn't have e10s on at any point, and fails on one where I did use that.

On first install, getting this message
![http://i.imgur.com/O1x3Rmy.png](http://i.imgur.com/O1x3Rmy.png)

Looks like some issue with bootstrapper starting up
![http://i.imgur.com/Q6LoxTt.png](http://i.imgur.com/Q6LoxTt.png)

Maybe related to #4, but not sure. This is a great addon, though :D :meta

[2014-10-26 18:52] nt1m opened #10 "Add more export services"
- [x] Codepen
- [ ] CSSDeck
- [ ] JSBin

Anything else ?

[2014-10-26 18:54] nt1m opened #11 "Add Editor plugin support"
Maybe support for Emmet or Zen-coding ?

[2014-10-26 19:29] nt1m opened #12 "Add support for SVG prototyping"

[2014-10-26 19:31] nt1m opened #13 "Easy way to inject libraries"
This would probably require a toolbar in the UI. Not sure how the UI would look here. Maybe a select box ? or a command line ?

[2014-10-26 19:47] nt1m opened #14 "Lorem ipsum generator"

[2014-10-26 20:02] nt1m opened #15 "Export as zip"

[2014-10-30 22:05] nt1m opened #16 "Code prettifyier"

[2014-10-30 22:06] nt1m opened #17 "Investigate moving elements hiding partially code area"
The run button, or the code-box labels for example.

[2014-10-30 22:09] nt1m opened #18 "First run experience"
Tell people about the keyboard shortcuts, show them around...

[2015-03-16 16:13] #1 closed

[2015-03-16 21:18] mdibaiee commented on #17
I think a left-side toolbar should be fine. It's also extendable so we can add more actions/options later if needed.

My idea is an icon-only toolbar like Photoshop/Codewars, what do you think? If you agree I'll make it.

[2015-03-16 21:23] nt1m commented on #17
@mdibaiee The left sidebar is a great idea ! Hiding the code-box labels when focusing the box is a good idea to me too

[2015-03-17 17:22] #16 closed

[2015-03-17 17:22] #17 closed

[2015-03-22 11:36] mdibaiee opened #22 "Ability to toggle editors"
Sometimes I only want to write JS, it would be great if I could show/hide editors like in JSBin.

[2015-03-22 11:50] mdibaiee opened #23 "let statement doesnt work"
I think a ?version=1.8 should fix this, I'll take a look.

[2015-03-22 17:23] mdibaiee commented on #22
I've implemented this, but you've used `--theme-background-selection` for the run button in order to highlight it, that's what I want to do to indicate an enabled/disabled editor. It may cause confusion to have both, may I revert your changes to run button? Any ideas?

![preview](https://i.imgur.com/YOSpSe9.png)

Thanks

[2015-03-22 17:49] nt1m commented on #22
Nice work ! Feel free to remove the highlight from the run button, it was just to make the run button stand out from the other ones.
Also, it would be nice if the toggle buttons were stick to the bottom of the sidebar (you can use a flexbox spacer to do that).

[2015-03-22 18:01] nt1m commented on #4
Actually, Ill write an actor that will do the job

[2015-03-22 18:01] nt1m opened #24 "Settings panel"

[2015-03-22 18:02] nt1m opened #25 "Customizable shortcuts"

[2015-03-22 21:16] #22 closed

[2015-03-22 21:16] #23 closed

[2015-04-02 19:45] mdibaiee commented on #6
Filled a bug about this in Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1150665

[2015-07-07 11:23] mdibaiee commented on #11
I think we can close this now. Also #14.

[2015-07-07 12:00] nt1m commented on #11
@mdibaiee Indeed.
About other languages, apparently Emmet supports CSS too (but I'm unsure how it works with CSS). About JS, I haven't heard of something like so.

[2015-07-07 12:00] #11 closed

[2015-07-07 12:00] #14 closed

[2015-07-07 12:02] mdibaiee commented on #11
I have used Emmet for CSS in the past, I'm not a fan of these kind of tools, but that's pretty cool, I'm currently working on settings panel, will enable Emmet for CSS if you agree.

[2015-07-07 12:04] nt1m commented on #11
@mdibaiee Awesome ! Yeah, I'm fine for enabling Emmet for CSS.

[2015-07-07 19:18] #24 closed

[2015-07-24 23:49] #13 closed

[2015-07-24 23:49] #4 closed

[2015-07-24 23:50] nt1m commented on #9
Seems like most of the recent addon installation changes should fix this. e10s is also much more stable now. Closing, feel free to reopen if you can still reproduce.

[2015-07-24 23:50] #9 closed

[2015-07-24 23:52] nt1m commented on #15
https://stuk.github.io/jszip/

[2015-07-24 23:54] nt1m opened #28 "Both export and library menus can be open at the same time"

[2015-07-24 23:56] nt1m opened #29 "Hiding some editors then changing settings result in blank editors"
@mdibaiee Can you take a look at this ? Not sure why this is happening.

STR :
- Write stuff in the editors
- Click one of the toggle buttons
- Open settings
- Leave settings

The editors become blank

[2015-07-24 23:57] nt1m commented on #18
The UI is pretty explicit itself, as for the keyboard shortcuts, we can just add some fields in the settings.

[2015-07-24 23:57] #18 closed

[2015-07-25 00:02] nt1m commented on #10
These 2 services either have no APIs or paid APIs. Also, they are not that popular. Closing.

[2015-07-25 00:02] #10 closed

[2015-07-25 00:03] nt1m commented on #7
I can't seem to get this working unfortunately, I get an error from the devtools code. Probably something that needs to be done on devtools side.

[2015-07-25 00:04] nt1m opened #30 "Polish library sidebar transition"
Should be a simple side from the side, kinda like any other devtools sidebar.

[2015-07-25 00:46] nt1m opened #31 "Improved keyboard a11y"
- [ ] More keyboard shortcuts
- [ ] focus indicators
- [ ] Complete tab navigation

[2015-07-25 00:47] nt1m opened #32 "Library injection code sometimes fails to work"

[2015-07-25 00:49] nt1m commented on #32
That also includes loading previous libs

[2015-07-25 00:56] nt1m commented on #32
Interesting : this.doc is null

[2015-07-25 06:55] mdibaiee opened #34 "Refactor"
The code has become bloated, I think we can refactor the code, decreasing the size and increasing readability.

Might take a look into this later myself :+1:

[2015-07-25 10:58] #28 closed

[2015-07-25 10:58] #29 closed

[2015-07-25 10:58] #30 closed

[2015-07-25 11:12] nt1m commented on #34
Totally agree with this !
Ideas to solve this :
- Improve DOM creation code (wrapper functions/use React ?)
- Move some functionality into separate files
- remove not-yet functioning code (highlighter stuff)
- Reorganize functions (getBlobURL is only used by the export menu , so we can move the code there)

I've usually use this for my other projects :
<pre>
function Element(tagName, attributes) {

[2015-07-25 11:48] nt1m commented on #32
The destroyed `this` (with null win, doc, target, toolbox) gets passed in.

[2015-07-25 19:22] nt1m commented on #34
Starting refactoring things a bit, some of the code is still a bit ugly, but I wanted to get a first cut at this stuff quickly.

My plan is to move out each view (toolbar, editors) as a module. I've started with the library and settings code, I'd ideally move towards a MVC architecture if I have enough time.

[2015-07-25 19:26] nt1m commented on #32
Fixed by :
https://github.com/nt1m/devtools-prototyper/commit/32a6d28dc0a6cadcf485b762a8d845431b3c1596

[2015-07-25 19:26] #32 closed

[2015-07-25 19:29] nt1m opened #35 "Possibly support multiple prototypes"
Will possibly end up as a combination of this addon and DevTools Snippets (http://ntim.altervista.org/addons/devtools-snippets/ )
This will likely need a refactor anyway.

[2015-07-25 19:29] nt1m opened #36 "Switch to React"

[2015-07-25 23:47] nt1m opened #37 "WebIDE support"
Make it work on Firefox OS/Chrome/Safari iOS/...

[2015-07-26 01:42] mdibaiee commented on #36
React is awesome, and I think it can really help us organize the code, the only thing I'm a little worried about, which I think I shouldn't, is about integrating it with the rest of components (CodeMirror, etc).

I have a little experience using React, too, so I can help in case you decide to use React.

[2015-07-26 16:52] nt1m commented on #36
@mdibaiee This will surely clean the UI code. I've started a skeleton at [0] if you'd like to grab a look at it, the react stuff is in main.js, the old code is still there as a reference. I've added you as collaborator too so you have full access to this repo.

I have a few questions about using react though :
Should we separate the "backend" (non-UI) stuff from the UI code ?
Is it a common practi

[2015-07-26 16:59] nt1m opened #38 "Fix sendFormData"
Breaks JSFiddle & codepen export.
Seems like a regression of the switch to Element();

[2015-07-26 19:29] mdibaiee commented on #36
@nt1m: I think it would help us maintain our code more easily by separating backend code from UI, we don't have to hunt down our functionality codes in our components, instead they have their own files, organized

Yes, I used React once in one of my projects and separating components was a good decision I took. Also I've seen others doing this, too, it's a good practice in my opinion. :+1:

I'll t

[2015-07-28 03:24] mdibaiee commented on #36
@nt1m: Hey, I like the new structure :+1:

A few ideas:

* I see you're creating class instances of Editor, Editors, SidebarButton, etc. in `app.js`, why not create a file for each and import the class from there, I know it make make for a lot of files, but the code looks more organized this way in my opinion.
* Do we need `Element` now that we have JSX?
* Would you agree on using the Developer To

[2015-07-28 23:27] nt1m commented on #36
<blockquote>
Hey, I like the new structure :+1:
</blockquote>
Thanks !

<blockquote>
I see you're creating class instances of Editor, Editors, SidebarButton, etc. in app.js, why not create a file for each and import the class from there, I know it make make for a lot of files, but the code looks more organized this way in my opinion.
</blockquote>
Yeah, we should do that. We can put the classes in

[2015-07-29 08:12] mdibaiee commented on #36
Hey!

I pushed to my forked repository, as the commit is very big, I want you to review it, I'll list what's changed:

* Configured Grunt to:
  * Precompile JSX to JS
  * Run ESLint on JS and JSX files (+ eslint-plugin-react)
  * Create the XPI file
* Organized components into folders and modified some of the code:
  * React doesn't work with XML attributes, instead it uses the javascript properti

[2015-07-29 14:50] nt1m commented on #36
<blockquote>
I pushed to my forked repository, as the commit is very big, I want you to review it, I'll list what's changed:

    Configured Grunt to:
        Precompile JSX to JS
        Run ESLint on JS and JSX files (+ eslint-plugin-react)
        Create the XPI file
    Organized components into folders and modified some of the code:
        React doesn't work with XML attributes, instead it u

[2015-07-30 06:29] mdibaiee commented on #36
Yes, that makes future modifications easy, you just modify your JSX file and get a JS out, that's what Firefox Hello is doing, too.

I'll try to see if I can get it working with a `<select>` element.

----
It seems Firefox Hello is not using `require` at all, like they gave up on it. They are manually adding `<script>` tags for each file. My idea is to use an injector here, see [`grunt-asset-injec

[2015-07-31 18:58] nt1m commented on #36
<blockquote>
I'll try to see if I can get it working with a <select> element.
</blockquote>
This isn't a good idea, I think we can just stick we the custom menu for now. The select element doesn't look like a menu on Windows anyway.

<blockquote>
It seems Firefox Hello is not using require at all, like they gave up on it. They are manually adding <script> tags for each file. My idea is to use an i

[2015-07-31 19:05] nt1m commented on #36
<blockquote>
Edit:
Okay, pushed to my fork, and got it actually working, it's rendering a sample text. I'll wait for your review to continue.
</blockquote>
The code looks good, but I'd like to get the file name issue addressed.

Also, regarding the folder organization, instead of putting the original source (`src` folder) and the compiled source (everything else) side by side. I think it's better

[2015-08-01 01:56] mdibaiee commented on #36
Sorry but I'm not sure I understood you, can you give an example of the file structure you'd like to see?

Yeah I gave up on it, nevermind.

[2015-08-01 03:18] nt1m commented on #36
"Sorry but I'm not sure I understood you, can you give an example of the file structure you'd like to see?"
Unless I'm mistaken, the source files live in `src`, but that's just for Javascript. It'd be less confusing to have *all* source files in src. And when running a grunt task, the grunt task would duplicate the src folder, rename it to dist, then manipulate things there. The separation between

[2015-08-01 05:31] mdibaiee commented on #36
Hey, okay I got it, see my fork.

I got the Editors working and now you can run your code.

One thing: I modified the way code is ran, instead of using blobs, etc, I'm using the new `sdk/tabs` module to open a new tab and modify it, with a fake name of `chrome://devtools-prototyper/content/prototype.html`. It's easier and removes the need to get the `toolbox` instance, which was causing trouble wi

[2015-08-01 05:33] mdibaiee commented on #36
(:bulb:) Do you think there's any chance of getting this integrated into Firefox Developer Tools?

[2015-08-01 22:21] nt1m commented on #36
<blockquote>
Hey, okay I got it, see my fork.

I got the Editors working and now you can run your code.
</blockquote>
Nice ! Just tried it out, works nicely, the editors are missing syntax highlighting though, but I guess you know that.

<blockquote>
One thing: I modified the way code is ran, instead of using blobs, etc, I'm using the new sdk/tabs module to open a new tab and modify it, with a fak

[2015-08-02 15:43] mdibaiee commented on #36
https://github.com/mdibaiee/devtools-prototyper/commit/f6be2a7f738268a2b888805865fc07307587928a

[2015-08-03 11:09] mdibaiee commented on #36
https://github.com/babel/grunt-babel/issues/38

[2015-08-04 19:28] mdibaiee opened #39 "Align sidebar's width with inspect button"
I think it would feel and look better if they were aligned:
<img width="40" alt="screen shot 1394-05-13 at 23 58 08" src="https://cloud.githubusercontent.com/assets/2807772/9070382/96a40526-3b04-11e5-9540-3599f59411ad.png">

[2015-08-07 15:26] mdibaiee commented on #36
It's sad that our work is delayed because of this issue, I really tried to find a way to workaround these problems, no way.

Curious: Why doesn't Firefox support `<input>` inserted as innerHTML? Throws an error: "Mismatched tag, expected </input>", but it should support void elements. Is there a bug for that?

[2015-08-07 19:20] nt1m commented on #36
@mdibaiee Not sure what you're trying, but these snippets work for me : `document.body.innerHTML="<div><input type='text' /><span></span></div>"` or `document.body.innerHTML="<div><input type='text' /></div>"` or even `document.body.innerHTML="<input type='text' />"`

[2015-08-07 19:21] nt1m commented on #36
It works when I paste them in the console at least

[2015-08-08 11:48] mdibaiee commented on #36
I mean without an enclosing slash, `<input type="text">`. <- this is the new standard, but doesn't work on Firefox.

[2015-08-08 12:41] nt1m commented on #36
@mdibaiee Filed : https://bugzilla.mozilla.org/show_bug.cgi?id=1192521 . Firefox was built way before HTML 5 was born, so there may be some remains of the old syntax.

<blockquote>
Edit: Pushed some changes to Libraries and applied your comments, still WIP, will inform you when they're ready.
</blockquote>
https://github.com/mdibaiee/devtools-prototyper/commit/f6be2a7f738268a2b888805865fc073075879

[2015-08-08 12:42] nt1m commented on #36
Btw, I don't understand why we can't use the enclosing slash version for now, does that break ?

[2015-08-08 21:14] mdibaiee commented on #36
It was the cause of React breaking, React was rendering input element without an enclosing slash, but they went back to using enclosing slashes.

seems I had forgot to push, pushed https://github.com/mdibaiee/devtools-prototyper/commit/6fdd66085c57d5f5c0d6e9d3286c0472eaac70ad

[2015-08-08 21:45] nt1m commented on #36
@mdibaiee Can you try changing panel.xhtml to an actual HTML file ?
Here are the changes you need to make :
- Rename panel.xhtml to panel.html (and change the references too)
- Remove xmlns="http://www.w3.org/1999/xhtml"
- Remove the string stuff in the HTML doctype
- Remove <?xml version="1.0" encoding="UTF-8"?>

[2015-08-08 22:19] nt1m commented on #36
Btw, can you .gitignore the `dist` directory ? Having it in the repo makes reviewing difficult, since it makes the file changes show twice in commits. Also, new contributors may update the `dist` directory instead of the `src` directory by mistake.

[2015-08-08 22:27] nt1m opened #40 "Add live HTML/CSS"
This isn't possible for JS, since code reevaluation is not supported by Firefox DevTools yet.

[2015-08-08 22:28] nt1m commented on #39
Yeah, I agree.

[2015-08-09 10:53] mdibaiee commented on #35
You mean being able to save prototypes and create new ones, etc?

[2015-08-09 10:56] nt1m commented on #35
@mdibaiee Yep. Will likely be easier once the React refactoring is done.

[2015-08-09 11:31] nt1m commented on #36
I'm going to test it in a few hours. The first thing I've noticed is that panel.html seems to be missing from the dist.

[2015-08-09 11:41] mdibaiee commented on #36
just rebuild, that's because of .gitignore

also, I made a task `grunt install` which sends the `.xpi` to Extension Auto Installer localhost:8888

[2015-08-09 16:21] nt1m commented on #36
@mdibaiee Nice !
Here are a couple of issues I've found :
- Running code doesn't seem to work, just redirects me to `about:blank`, the issue started appearing when we started using `about:blank`, injecting the worker causes `window is null` from the add-on SDK as I mentioned before. My guess is that we are injecting things too early.
- Opening the settings doesn't close the libraries menu

Regardi

[2015-08-09 18:58] mdibaiee commented on #36
@nt1m

* Weird, it's working for me, I'm listening on `ready` event to attach, see https://github.com/mdibaiee/devtools-prototyper/blob/react/src/chrome/backend/code.js#L27-L38
I'll try to make it work somehow
* Why should it?

---

* I wanted to say the same thing about `checked`.
* The results are currently taking `45%` height

About other thing, I will work on 'em. Thanks for your review.

[2015-08-09 19:13] nt1m commented on #36
@mdibaiee
- I'm using nightly, so it may be specific to that channel
- That's the way it worked before. And it also makes sense to me to keep only one item checked.
- Yep, but it seems like it takes more than 50% height on your branch, I would stay to 45%.

[2015-08-09 19:15] mdibaiee commented on #36
@nt1m

* I'm on Nightly, too. 42.0a1 (2015-08-03)
* Alright
* Um, so keep it untouched or reduce it?

[2015-08-09 19:20] nt1m commented on #36
@mdibaiee
- I'll investigate a bit more
- Hmm, it seems like a layout problem rather than a height change, seems that it is currently taking 45% of the wrong height. Can you try adding `overflow-y: auto` to `.menu` ?

[2015-08-09 19:21] mdibaiee commented on #36
@nt1m I'll take a look tomorrow, going to sleep right now, good night :crescent_moon:

[2015-08-09 19:24] nt1m commented on #36
@mdibaiee Good night ! (I'm in GMT+1, so I've gonna sleep too)

[2015-08-10 16:53] nt1m commented on #36
mdibaiee : Nice progress on the last commit ! Didn't know about React mixins too.
Anyway, about the prototype not running, I found out what the problem is : both about:newtab and the add-on sdk run in the parent process, while the add-on sdk expects the content to be in the child process. But this works fine in non-e10s. A possible solution (although I haven't tried it), is to navigate to a data U

[2015-08-11 11:53] mdibaiee commented on #36
Tested `data:text/html, <html></html>` blob URL but it doesn't work on e10s, instead `prototype.html` works.

But I couldn't get `console` to work on the webpage console, it only logs to Browser Console. I tried `text/javascript` and `application/javascript`. Any ideas on this?

https://github.com/mdibaiee/devtools-prototyper/commit/454850ef1b4ece76a70af00927af9da656b335f5
https://github.com/mdiba

[2015-08-11 17:00] mdibaiee commented on #36
Is our add-on signed? https://news.ycombinator.com/item?id=10038999

[2015-08-11 20:30] nt1m commented on #36
@mdibaiee Only the AMO version is signed, but for development purposes, you can set `xpinstall.signatures.required` to false.

[2015-08-14 12:45] mdibaiee commented on #36
https://github.com/mdibaiee/devtools-prototyper/commit/9a087151179c84e26f1de30b633f3232fd3cd31f

I'm not sure about our `Save locally` option, it seems pointless, maybe we should implement #15 instead.

Other than that, what's left?

[2015-08-14 16:48] nt1m commented on #36
@mdibaiee
<blockquote>
mdibaiee@9a08715
mdibaiee@2975aa9
</blockquote>
r+ with nits fixed.

<blockquote>
I'm not sure about our Save locally option, it seems pointless, maybe we should implement #15 instead.
</blockquote>
It's useful when you want to turn your prototype into a full project. But yeah, #15 covers that use case better.
<blockquote>
Other than that, what's left?
</blockquote>
The only

[2015-08-14 19:51] mdibaiee commented on #36
You're right about export UI.

Another idea hit me about the export menu:

Diving the Gist button into two, Public Gist and Private Gist, having a setting for that doesn't seem right, having to switch a setting only for that.

---

Oh, I have not got the injected libraries actually working, going to work on that asap.

[2015-08-14 20:00] nt1m commented on #36
@mdibaiee I like the Gist idea :+1:
Something like this would be nice :
Gist :    |  Public  |  Private
We can even have 2 separate items.

[2015-08-14 20:02] nt1m commented on #36
Maybe the title and description stuff could go in there.

[2015-08-15 15:01] mdibaiee commented on #36
https://github.com/mdibaiee/devtools-prototyper/commit/af79f35f304a258b77d2a280a5d2445272432eb3

[2015-08-15 18:20] nt1m commented on #36
@mdibaiee : Nice ! Just tried it out, works quite well.
Here are a few bugs I've encountered though :
- "initialized" storage entry gets synced
- The default value of injected-libraries breaks the add-on. The default value should be an array, other wise the add-on will throw (this.state.libraries.map is undefined)
- Secret gists get submitted under the "anonymous" account even when logged in
- Exp

[2015-08-15 18:53] mdibaiee commented on #36
Actually even public gists will be submitted as guest, we must authorize our app with GitHub in order for that to work (also the user should accept the permissions), going to work on that tomorrow.

[2015-08-16 09:57] mdibaiee commented on #36
About e10s bug, It seems to be a problem with target=_blank on form, removing that works well (but you know it opens in the iframe itself).

I asked on IRC, didn't get a good answer, also couldn't find a [related] bug, can you please ask someone who might know about this? If it's not a known problem I can fill a bug

[2015-08-16 12:37] nt1m commented on #36
@mdibaiee One possibility to fix this is to run the form stuff as a content script in a new tab.

[2015-08-16 12:38] mdibaiee commented on #36
@nt1m: Good idea, will take a look at night, gotta go now.

[2015-08-16 20:12] mdibaiee commented on #36
@nt1m: It doesn't seem to work, I think I found the actual problem, the problem is `POST` requests don't work properly under e10s, I tried your idea, but it seems my requests just get sent as `GET` afterall, even though I set `method = "POST"`.

Searching for related bugs I found this: https://bugzilla.mozilla.org/show_bug.cgi?id=1060367

[2015-08-16 20:25] nt1m commented on #36
@mdibaiee Weird, POST requests seem to work fine when exclusively done in the child process (testcase : https://startpage.com/eng/?&hmb=1). e10s issues are usually due to breakage with communication between parent/child process, I'm quite surprised that didn't work. Maybe content scripts run in the parent process ?

[2015-08-17 10:55] mdibaiee commented on #36
I don't have a good understanding of this concept, do you have any reference link so I can read more about how these processes communicate?

---

What's the idea now?

[2015-08-17 11:45] nt1m commented on #36
https://developer.mozilla.org/en-US/Add-ons/Working_with_multiprocess_Firefox

[2015-08-18 19:45] mdibaiee commented on #36
This is really weird, I tried appending form to parent XULWindow, didn't work either. Do you think we should fill a bug in Firefox? and probably ignore this for now?

---

Anything else left so I can finish those first?

[2015-08-19 11:36] nt1m commented on #36
@mdibaiee Yeah, we should probably ignore this for now. Also, appending the form to the parent XUL Window, will likely cause the location to change on the parent window as well.

There's still these to handle :
- "initialized" storage entry gets synced
- The default value of injected-libraries breaks the add-on. The default value should be an array, other wise the add-on will throw (this.state.lib

[2015-08-19 15:30] mdibaiee commented on #36
What were the old pref names? We're currently using `extensions.devtools-prototyper.editor-html`, isn't that the same as old ones?

_Man, what's wrong with .gitignore_

[2015-08-19 16:53] nt1m commented on #36
@mdibaiee We used `extensions.devtools-prototyper.html`, `extensions.devtools-prototyper.css` and `extensions.devtools-prototyper.js`. The pref names didn't include "editor-" in them.

About, .gitignore, you need to write `dist/` in .gitignore, and delete all the dist files, then create a commit just for that.

[2015-08-19 16:54] nt1m commented on #36
There may be a command to fix the `.gitignore` without deleting the files manually, but I know that the manual method works.

[2015-08-22 12:46] nt1m opened #41 "Switch to Web Extensions/Jetpack"
See https://blog.mozilla.org/addons/2015/08/21/the-future-of-developing-firefox-add-ons/ .

Here are the main obstacles :
- DevTools Editor component doesn't work with unprivileged code (that's the main reason I switched from a Jetpack add-on to a privileged chrome add-on)
- Same for theme-switching script
- Lack of a DevTools add-on API with Web Extensions (there is one for jetpack though)

[2015-08-22 12:49] nt1m commented on #41
Since the add-on is already using HTML for it's UI and not abusing of XPCOM, the switch will be pretty easy once the obstacles are cleared.

[2015-08-22 12:56] nt1m commented on #36
r+ with this issue fixed :
`TypeError: this.state.injected.map is not a function`
This is because the default value of injected-libraries isn't an array.

[2015-08-22 12:58] nt1m commented on #36
To reproduce it, you'll need to reset `extensions.devtools-prototyper.injected-libraries` in about:config, or simply install the add-on on a blank profile.

[2015-08-22 15:03] mdibaiee commented on #36
pushed to my fork.

There is an issue with JSFiddle, exporting to JSFiddle doesn't render line-breaks, it seems linebreaks are not sent over the actual POST request, why is that? I couldn't find anything by searching.

Another thing is, can you work on #15 ? I'm getting more and more busy these days, I doubt I'll find time to work on that one, else we'll just go with downloading the HTML.

[2015-08-22 17:56] nt1m commented on #36
<blockquote>
pushed to my fork.
</blockquote>
Thanks for your awesome work ! Feel free to merge with this master branch :)

<blockquote>
There is an issue with JSFiddle, exporting to JSFiddle doesn't render line-breaks, it seems linebreaks are not sent over the actual POST request, why is that? I couldn't find anything by searching.
</blockquote>
I'm not sure, I'll investigate.

<blockquote>
Anoth

[2015-08-22 20:18] #39 closed

[2015-08-22 20:22] mdibaiee commented on #36
Merged with master! :fireworks: :sparkles: :star2:

Going to close this, such a monster issue. This is the 64th comment. Wow.

[2015-08-22 20:22] #36 closed

[2015-08-22 20:26] mdibaiee commented on #34
Are we going to close this, too?

[2015-08-22 22:06] nt1m commented on #34
@mdibaiee Yep

[2015-08-22 22:06] #34 closed

[2015-08-22 22:17] nt1m commented on #36
Awesome ! \o/ Nice work :)

My preferred way of contacting is email (ntim.bugs@gmail.com). Feel free to email me :)

[2015-08-23 02:27] nt1m opened #42 "Defaults don't initialize properly"
I'm not sure if it's due to my recent work (although it's unlikely), but the defaults don't get set properly anymore. I'll investigate tomorrow.

[2015-08-23 13:42] nt1m opened #43 "Add more grunt tasks"
- [x] Grunt task to bump version of package.json and of install.rdf
- [x] Grunt task to clear out the build folder

[2015-08-23 14:19] nt1m commented on #42
Looks like it was because of my recent work.

[2015-08-23 14:19] #42 closed

[2015-08-27 08:00] mdibaiee opened #44 "Fix exporting prototype in Electrolysis"
Do you think we should fill a bug in Bugzilla about this issue? Or can you ask someone who might know something about this?

[2015-08-27 08:11] #38 closed

[2015-08-29 21:21] nt1m commented on #44
I may take a look later.

[2015-08-29 21:26] nt1m opened #45 "Fix all ESlint warnings"
There are 2 main warnings :
- no-unused vars : ESlint doesn't seem to support React properly, we can either ignore those warnings, or disable the ESlint rule
- strict : ESlint wants *all* the files to have "use strict";, what do you think @mdibaiee ?

[2015-08-29 21:33] mdibaiee commented on #45
about no-unused-vars I think we might want to disable that, if we were using modules, it would be ok as eslint understands exports.

I only see one warning about `strict` which says `main.jsx` should not have a `"use strict"` directive. Other than that, I don't see any errors. Are you running `grunt eslint`?

[2015-08-29 21:34] nt1m commented on #45
@mdibaiee Yep, I'm running `grunt eslint`. And it displays the warning for all the files not having the "use strict" header.

[2015-08-29 21:34] nt1m commented on #45
About 25 warnings are dedicated to `strict`

[2015-08-29 21:38] mdibaiee commented on #45
@nt1im that was fast :grin:

This is the result of `grunt eslint` for me: https://gist.github.com/mdibaiee/9d0a918ab57653d01262

[2015-08-29 21:48] nt1m commented on #45
@mdibaiee I should be sleeping right now ;)
Here's my `grunt eslint` result : https://gist.github.com/nt1m/5d7cca0d4bbf73474b8c (I have some changes locally, but they only give 1 or 2 extra warnings)
Maybe we have different versions of eslint ?

[2015-08-29 21:49] nt1m commented on #40
Done in https://github.com/nt1m/devtools-prototyper/commit/1e3ba2d8e2f598ded172452c1dd02514ae6aa2b6

[2015-08-29 21:49] #40 closed

[2015-08-29 22:45] #15 closed

[2015-08-29 23:13] mdibaiee commented on #45
I'm using version `0.24.1`. I couldn't sleep.

[2015-08-29 23:15] nt1m commented on #45
@mdibaiee Me too, I wonder what's going on.

[2015-08-30 12:28] nt1m commented on #44
@mdibaiee Just took a look at this. Looks like the add-on SDK doesn't support injecting a content script from the parent process to the child process (the prototype.html page runs in the parent one, which is why code running works).
I'm sure the bugzilla bug you previously referenced will fix this issue. We're having a similar issue anyway.

[2015-08-30 15:47] nt1m opened #46 "Unable to remove library after restarting the toolbox"

[2015-08-31 11:00] #46 closed

[2015-08-31 11:08] nt1m opened #47 "Add automated testing"
There is a lot of breakage and a lot of bugs with every new release.

[2015-08-31 20:13] Kolorbon opened #48 "Add shortcut to open console"
It would be nice, if like in all the other devtools tabs you could open the console with the escape key.

[2015-08-31 20:21] mdibaiee commented on #48
Good idea, I'll take a look to see if it's possible or not.

[2015-08-31 20:31] nt1m commented on #48
Seems like our keybindings are overriding the default ones. Not sure if we need to reimplement them, or if there's a way to not override default keybindings

[2015-08-31 20:34] mdibaiee commented on #48
Oh yeah, opening Settings panel and then pressing Esc works, I think CodeMirror is taking the "Esc" key. But the "Debugger" panel works flawlessly even when focusing CodeMirror.

[2015-08-31 20:41] mdibaiee commented on #48
I see, we need a `Esc: false` in extraKeys when initializing editors, going to fix it.

[2015-08-31 20:48] #48 closed

[2015-08-31 21:49] nt1m commented on #48
@mdibaiee Thanks for the quick fix !

[2015-08-31 22:09] mdibaiee commented on #48
:rose: :hand:

[2015-08-31 23:16] nt1m opened #49 "Fix Cmd/Ctrl+S keybinding"
It should open the export menu. @mdibaiee Any chance you can take a look at this ? Thanks :)

[2015-09-01 10:15] mdibaiee commented on #49
Sure, but today I tried installing the add-on after writing some code for this, and now I get:

[code]

[2015-09-01 12:19] nt1m commented on #49
@mdibaiee Must be my "modernize bootstrap.js" commit. What channel are you using ? The installation works fine on Nightly for me.
As a temporary workaround, you could rollback to the older bootstrap.js and panel.js files.

[2015-09-01 12:21] mdibaiee commented on #49
Nightly 42.0a1 (2015-08-03), I will update my Firefox today.

[2015-09-01 13:18] nt1m commented on #49
@mdibaiee So older nightlies don't support this :
`const {require, loader} = Cu.import("resource://gre/modules/devtools/Loader.jsm", {});`
I'll have to rollback to older methods then.

[2015-09-01 13:58] nt1m commented on #49
@mdibaiee Alright, you shouldn't get issues with https://github.com/nt1m/devtools-prototyper/commit/1da5bfdc615697e617213c09f307b715f2e4acb3 and https://github.com/nt1m/devtools-prototyper/commit/1b9a31fd95964d098d062ff22e3be765f62e6466 now.

[2015-09-01 21:02] #49 closed

[2015-09-01 21:30] nt1m commented on #49
Thanks for the fix !

[2015-09-01 21:32] mdibaiee commented on #49
@nt1m: :rose: :hand:

[2015-09-02 13:24] nt1m opened #50 "Provide export templates"
Let's say someone wants to start a project out of the prototype. That dev uses ZIP export. He/she has a lot of choices ahead:
- Creating a Firefox OS app
- Creating a Firefox/Chrome add-on
- Create a node.js app
- ...
The add-on should provide templates that can be chosen somehow in the UI, then when a template is chosen, clicking "export as ZIP" will add the appropriate files.

@mdibaiee Any thou

[2015-09-02 23:19] mdibaiee commented on #50
Something similar to the new timing function editor of Firefox:

![export-templates-concept](https://cloud.githubusercontent.com/assets/2807772/9647056/a4e3ea06-51ee-11e5-93a8-44f0253a7bdf.png)

We could default the main button to use the last template.

[2015-09-02 23:32] nt1m commented on #50
Yeah, this should work. Maybe we can make it span vertically instead of horizontally ? We can also have an icon-grid like the cubic bezier editor.

[2015-09-03 09:07] mdibaiee commented on #50
That's right, vertical should work, too, a tree-like structure.

And oh, you said Firefox OS, I'm working on a FxOS File Manager, join me if you're interested, although the project is still under heavy development, I'll be pushing a lot, things might change and break, you know. :grin: [mdibaiee/hawk](/mdibaiee/hawk)

[2015-09-07 21:48] #43 closed

[2015-09-13 08:14] nt1m opened #51 "Run prototype in child process (e10s)"
Currently, if you launch DP on a webpage, then run the prototype, the toolbox will close by itself, this is because we switch from the child process (webpages) to parent process (chrome:// uris).

We'll need to rely on something else than the addon sdk tabs module.

[2015-09-17 20:22] nt1m opened #52 "Add a indicator on tabs that have DevTools Prototyper launched"
I sometimes lose track of where I've opened DevTools Prototyper, the only indicator I have is the tab title, but it's not very easy to spot, and goes away if I navigate away to check some MDN doc before going back to my prototype.

[2015-09-17 20:25] mdibaiee commented on #52
What do you think about a favicon? Probably the prototyper logo?

[2015-09-17 20:46] nt1m commented on #52
@mdibaiee A favicon could work, but I'd like an indicator that shows up even if you haven't ran the prototype yet, this is a common use case for me, I usually spend a lot of time writing my prototype before actually running it. It's not uncommon that I switch tabs to consult MDN or any other site. The prototyper icon should work, possibly layed out like this: http://people.mozilla.org/~shorlander/

[2015-09-17 20:52] mdibaiee commented on #52
This is great, isn't this going to be built into Firefox? I think it's really useful, I usually lose track of where I opened the devtools.

I think having this as a separate add-on would be better if it's not going to be built-in.

[2015-09-23 18:01] nt1m opened #53 "Fix DevTools Prototyper now that file paths have moved"
https://bugzilla.mozilla.org/show_bug.cgi?id=912121 has landed, and broke DevTools Prototyper. Basically, we'll need to update the file paths to the new ones.

[2015-09-26 13:58] #53 closed

[2015-11-10 14:03] mdibaiee opened #54 "Errors from prototyper code don't appear in the console"
It seems like using `console.log` doesn't work inside prototyper (it doesn't even log to Browser Console, it shouldn't).

Can you confirm this @nt1m?

[2015-11-10 19:01] nt1m commented on #54
@mdibaiee I'll need to fix DT prototyper first since it's broken in Nightly.

[2015-11-10 19:10] nt1m commented on #54
@mdibaiee Yes, I can confirm. Something is causing the logging apis to be disabled: "The Web Console logging API (console.log, console.info, console.warn, console.error) has been disabled by a script on this page."

[2015-11-10 19:13] nt1m opened #55 "Error logs should show line numbers relative to the JS code, not to the whole HTML file"
We should at least provide the line offset for the JS code.

[2016-01-29 13:23] nt1m opened #56 "Add switch for running unprivileged code"
Right now, the prototype runs on a chrome URI, which means it has access to privileged code (which can potentially be useful). For example, this snippet of code works:
[code]
We should add a switch for running privileged code and turn it off by default (since this kind of privileged code allows you to access the browser UI too).

[2016-02-14 16:20] nt1m opened #57 "DT Prototyper no longer works in Nightly 47"
Shows a blank page when you click "Run"

[2016-02-29 20:52] #57 closed

[2016-08-22 07:27] nures commented on #54
it seems that this bug is not present in newer versions of firefox

[2016-08-27 18:19] nt1m commented on #54
@nures, the console API seems to work, but errors are still not shown:
if you type:
`I("hello")` in the JS, you should get `I is undefined`, but instead nothing happens.

[2016-08-28 23:01] #56 closed

[2016-08-28 23:02] #51 closed

[2016-08-28 23:02] #52 closed

[2016-08-28 23:02] #54 closed

[2016-09-21 04:47] freMea opened #59 "DevTools Prototyper doesn't show up in devtools"
I just install to try this addon and can **NOT** see it in devtools

**### Setup**

- Firefox 49.0
- DevTools Prototyper 4.1.1
- Add-on Compatibility Reporter 2.2.1

nothing else in a fresh test profile

**### Steps**

1. New fresh profile
2. Install  **Add-on Compatibility Reporter** addon
3. It reports **Multiprocess is enabled**
4. Install  **DevTools Prototyper** addon
5. Restart Firefox
6. **

[2016-09-21 06:43] nt1m commented on #59
Thanks for reporting! I'll grab a look.

[2016-09-21 06:44] nt1m commented on #59
One thing you can try is going into the developer tools settings and check whether you see "Prototyper". Although it should appear automatically.

[2016-09-21 07:31] freMea commented on #59
There is no other options than the default one in devtools.

    Le Mercredi 21 septembre 2016 8h44, Tim Nguyen <notifications@github.com> a écrit :

 One thing you can try is going into the developer tools settings and check whether you see "Prototyper". Although it should appear automatically.—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHu

[2016-09-21 17:31] #59 closed

[2016-09-21 17:35] nt1m commented on #59
The problem is fixed in version 4.1.2: https://addons.mozilla.org/en-US/firefox/addon/devtools-prototyper/versions/?page=1#version-4.1.2
Merci d'avoir rapporté le problème!

[2016-09-21 23:36] freMea commented on #59
Nickel!

Du coup, il y a le même souci avec **Stylish Developer Tool**. Ce sera peut-être la même correction à faire.

[2016-09-22 07:30] nt1m commented on #59
@freMea il faut installer Stylish au cas ou tu l'aurais pas fait: https://addons.mozilla.org/fr/firefox/addon/stylish/?src=search

[2016-09-22 15:31] freMea commented on #59
Oui, bien sûr. Je ne suis pas un n00b. '^^
Je pense Stylish devtools 1.0.8 partage le même code que Prototyper 4.1.1 pour ajouter l’outil aux devtools et souffre donc du même bug, c'est à dire absent des outils devtools disponibles, y compris dans les options. C'est en tout le cas sur mon setup : Firefox 49.0 x64, Win 10 x64.

    Le Jeudi 22 septembre 2016 9h30, Tim Nguyen <notifications@github.c

[2016-10-21 18:18] mikhoul opened #60 "Allow running Prototyper to be independant from other devtools"
Hi and tahnks for this little gem. :octocat:

When we are in the devtools prototyper tab  and pressing the Play/Run button it would useful if we have some way to going back to the initial page for the other devtools instead of having the Inspector inspecting the output of our code.

Something like having 2 modes, one with all the devtools devoted to the prototype and a second mode where other devt

[2017-02-12 17:37] dehghani-mehdi opened #61 "Emmet doesn't work"
Hi,

First of all, awesome idea for add-on, just keep it up!

I'm using FF v51, also just installed your add-on, I saw setting section, Enable Emmet is marked, but it doesn't work.

Take care,
Mehdi

[2017-02-12 20:25] nt1m commented on #61
Right now, the hotkey is Ctrl/Cmd+E for emmet, not "Enter". Can you check if that works ?

I agree the Enter key should work though.

[2017-02-13 03:28] nt1m commented on #60
@mikhoul Doing a mode exactly like that is tricky, since the prototyper is very tied to the developer tools.

Right now, prototyper can run in its own tab: chrome://devtools-prototyper/content/panel.html which might be handy for your usecase.

[2017-02-13 05:34] dehghani-mehdi commented on #61
I just installed the `prototyper` on FF Beta (52.0b5), but Prototyper tab doesn't appears in Dev tools. _yesterday I installed on FF v51.x_

[2017-02-13 14:40] nt1m commented on #61
@dehghani-mehdi Can you try with version 4.5.1: https://addons.mozilla.org/en-US/firefox/addon/devtools-prototyper/versions/ ? Thanks !

[2017-02-13 16:08] mikhoul commented on #60
Thanks ! :octocat:

[2017-02-13 16:08] #60 closed

[2017-02-14 05:03] dehghani-mehdi commented on #61
I just tired & it works, the Ctrl+E also did its job, but would be great if you add `Tab` support too.

[2017-02-14 05:03] #61 closed

[2017-02-14 17:57] nt1m opened #62 "Fix tab keybinding for Emmet"
The built-in Firefox DevTools currently override the Tab keybinding, we need to find a way around it.

[2017-02-14 17:58] nt1m commented on #61
@dehghani-mehdi Filed #62

[2017-02-19 16:10] nt1m opened #63 "Upgrade React"

[2017-11-09 17:40] yfdyh000 commented on #41
Any news?

[2017-11-09 18:05] nt1m commented on #41
@yfdyh000 I had a WIP that simply adds a simple devtools panel: https://github.com/nt1m/devtools-prototyper/tree/webextension

This add-on is lower priority than VivaldiFox, so it might not get attention right away.